<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hw08-0036489244.zip_expanded/src/main/java/hr/fer/zemris/java/hw07/shell/MyShell.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.java.hw07.shell.MyShell"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hw08-0036489244.zip_expanded"/>
</launchConfiguration>
