<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hw06-0036489244/src/main/java/hr/fer/zemris/java/hw06/demo4/StudentDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.java.hw06.demo4.StudentDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hw06-0036489244"/>
</launchConfiguration>
